<div class="container">
  <% @posts.each do |post| %>
    <div class="box">
      <article class="media">
        <div class="media-content">
          <div class="content">
            <%= render post %>
          </div>
          <nav class="level is-mobile">
            <div class="level-left">
            </div>
          </nav>
        </div>
      </article>
    </div>
  <% end %>
</div>
