<footer class="footer mt-auto">
  <div class="content has-text-centered">
    <p>
      Copyright <%= link_to "BVDMIND", "https://github.com/bvdmind/eleu-commonage" %>,
      <%= Date.today.year %>
    </p>
  </div>
</footer>